.root {
	display: grid;
	align-items: center;
	padding: 25px 30px;
	background-color: var(--primary);
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
	gap: 40px;
	grid-template-areas: 'all-rights user-agreement policy';
	grid-template-columns: 1fr auto auto;
	line-height: 20px;
}

.root p {
	margin: 0;
}

.root a {
	color: var(--white);
	text-decoration: none;
}

.root a:hover {
	color: var(--gray-light);
}

.allRights {
	grid-area: all-rights;
}

.userAgreement {
	grid-area: user-agreement;
}

.policy {
	grid-area: policy;
}

@media (max-width: 765px) {
	.root {
		grid-template-areas:
			'all-rights'
			'user-agreement'
			'policy';
		grid-template-columns: minmax(320px, 1fr);
		justify-items: center;
	}
}
