.tag {
	display: flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 20px;
}

.s {
	font-size: 12px;
	line-height: 12px;
}

.m {
	font-size: 14px;
	line-height: 14px;
}

.neutral {
	background-color: var(--gray);
	color: var(--white);
	font-weight: 700;
}

.success {
	background-color: var(--green-light);
	color: var(--green);
	font-weight: 700;
}

.transparent {
	border: 1px solid var(--gray-light);
}

.attention {
	background-color: var(--red);
	color: var(--white);
	font-weight: 700;
}

.primary {
	border: 1px solid var(--primary);
	color: var(--primary);
}
