:root {
  --font-family: Noto Sans Mono, monospace;

  --primary: #7653fc;
  --primary-hover: #5d37f4;
  --black: #3b434e;
  --gray: #b3c0d9;
  --gray-light: #ebebeb;
  --white: white;
  --orange: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --background-primary: #e5e5e5;
  --red: #de0000;
}

html,
body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--background-primary);
}
